* {
  padding: 0;
  margin: 0;
}
body {
  text-decoration: none;
  position: relative;
}
#first_cat {
  border-bottom: 3px solid gray;
}
input {
  border: 0px;
}
.w1{
  background-image: url(picture/Yellow\ Floral\ Quote\ Motivational\ Desktop\ Wallpaper.png);
}
#continar1{
  display: block;
}
#continar2{
  display: none;
}
#continar3{
  display: none;
}